ion-content {
  --background: var(--ion-color-tertiary);
  font-family: "Lato", sans-serif;
}

ion-footer {
  background: #9496e1;
  border: none;
  padding-bottom: 10vh;
}

figure {
  img {
    background: transparent;
  }
}